html {
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
nav{
    background-color:rgb(13, 103, 103);
    color:white;
    padding:20px 50px;
    display:flex;
    align-items:center;
   }
   nav ul{
    display:flex;
    gap:50px;
    list-style:none;
    margin-left:auto;
   }
   nav a {
    color:white;
    text-decoration:none;
    padding:5px;
    font-size:18px;
    transition:0.3s;
   }
   nav a:hover{
    color:rgb(35, 212, 73);
    transition:0.3s;
   }
#home{
    text-align:center;
    padding:120px 20px;
    background-color:lightblue;
}
#home button{
    background-color:teal;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:6px;
    cursor:pointer;
}
#home button:hover{
    background-color:rgb(172, 45, 54);
    transition:0.3s;
}
#home h1{
    font-size:45px;
    margin-bottom:15px;
}
#home p{
    margin-bottom:20px;
}
#home h1{
    font-size:45px;
    margin-bottom:15px;
}
#Destinations{
    text-align:center;
    padding:100px 50px 60px;
}
.destination-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}
.destination-card{
    background-color:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0.1);
    transition:0.3s;
}
.destination-card img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:8px;
}
.destination-card h3{
    margin-top:12px;
    margin-bottom:8px;
    font-size:22px;
}
.destination-card p{
    font-size:15px;
    line-height:1.5;
}
.destination-card:hover{
    transform:translateY(-5px);
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    transition:0.3s;
}
#destinations h2{
    font-size:36px;
    margin-bottom:30px;
    color:teal;
    text-align: center;
    position:relative;
    margin-top: 20px;
}
#destinations h2::after{
    content:"";
    display: block;
    width: 150px;
    height:3px;
    background-color: teal;
    margin: 10px auto 0;
    border-radius: 5px;
}
#packages{
    padding:70px 50px;
    text-align:center;
    background-color:whitesmoke;
}
#packages h2{
    font-size: 36px;
    color:teal;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}
#packages h2::after{
    content:"";
    display:block;
    width:170px;
    height:3px;
    background-color: teal;
    margin:10px auto 0;
    border-radius: 5px;

}
.package-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
}
.package-card{
    background-color:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
    border:1px solid lightgray;
    transition:0.3s;
}
.package-card:hover{
    transform:translateY(-5px);
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    transition:0.3s;
}
.package-card h3{
    font-size:23px;
    margin-bottom:12px;

}
.package-card p{margin-bottom:10px;
line-height:1.5;
}
.package-card button{
    background-color:teal;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
}
#about{padding:70px 100px;
background-color:white;
display:flex;
align-items:center;
gap:60px;
}
.about-image img{
    width:280px;
    border:5px solid white;
    border-radius:8px;
    transform:rotate(-3deg);
}

#about h2{
    font-size:32px;
    margin-bottom:20px;
    color:teal;
}
#about p{
    max-width:700px;
    margin:0 auto 10px;
    line-height:1.6;
    text-align:left;
}
.about-features{
    display:flex;
    gap:25px;
    margin-top:25px;
    justify-content:space-between;
}
.about-features div{
    text-align:center;
    padding:10px 15px;
    border-left:2px solid teal;
}
.about-features h3{
    color:teal;
    font-size:18px;
    margin-bottom:5px;
}
.about-features p{
    font-size:14px;
    margin:0;
}
#contact form{
    max-width:600px;
    margin:30px auto;
    padding:30px;
    background-color:white;
    border-radius:10px;
    box-shadow:0 3px  10px rgba(0,0,0,0.1);
    border:10x solid lightgray;
    border-top:4px solid teal
}
#contact{
    padding:70px 50px;
    text-align:center;
    background-color:lightblue;
}
#contact form label{
    display:block;
    margin-bottom:6px;
    text-align:left;

}
#contact h2{
    font-size:32px;
    margin-bottom:10px;
    color:teal;
}
#contact form input,
#contact form select{
    
    width:100%;
    padding:10px;
    margin-bottom:15px;
    border:1px solid lightgray;
    border-radius:6px;
    background-color: #f9f9f9;
    font-size:15px;
}
#contact form button{
    background-color:teal;
    color:white;border:none;
    padding:12px 25px;
    border-radius:6px;
    cursor:pointer;
    transition:0.3s;
}
#contact form button:hover{
    background-color:rgb(172, 45, 54);
}
footer{
    background-color:rgb(13, 103, 103);
    color:white;
    text-align:center;
    padding:30px;
}
footer h3{
    font-size:24px;
    margin-bottom:10px;
}
footer p{
    margin-bottom:8px;
}
@media(max-width:768px){
    nav{
        flex-direction: column;
        gap:15px;
    }
    .destination-container{
        grid-template-columns: 1fr;
    }
    .package-container{
        grid-template-columns: 1fr;
    }
    #about{
        flex-direction: column;
    }
}
